
<br>
<mat-card class="hintergrund">
        <mat-card-title>Absatzplanung</mat-card-title>
        <mat-card-subtitle>Vertriebswunsch</mat-card-subtitle>

        <form class="example-form">
                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P1</mat-label>
                        <input matInput type="number" name="Vabsatzplan_p1" [(ngModel)]="Vabsatzplan_p1"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Menge P1</mat-label>
                        <input matInput type="number" name="V_direkt_menge_p1" [(ngModel)]="V_direkt_menge_p1"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Preis pro Stück P1</mat-label>
                        <input matInput type="number" name="V_direkt_preis_p1" [(ngModel)]="V_direkt_preis_p1"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Konventionalstrafe P1</mat-label>
                        <input matInput type="number" name="V_direkt_strafe_p1" [(ngModel)]="V_direkt_strafe_p1"/>
                </mat-form-field></td>

          
                <br>
                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P2</mat-label>
                <input matInput type="number" name="Vabsatzplan_p2" [(ngModel)]="Vabsatzplan_p2"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Menge P2</mat-label>
                        <input matInput type="number" name="V_direkt_menge_p2" [(ngModel)]="V_direkt_menge_p2"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Preis pro Stück P2</mat-label>
                        <input matInput type="number" name="V_direkt_preis_p2" [(ngModel)]="V_direkt_preis_p2"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Konventionalstrafe P2</mat-label>
                        <input matInput type="number" name="V_direkt_strafe_p2" [(ngModel)]="V_direkt_strafe_p2"/>
                </mat-form-field></td>
                <br>


                
                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P3</mat-label>
                <input matInput type="number" name="Vabsatzplan_p3" [(ngModel)]="Vabsatzplan_p3"/>
                 </mat-form-field></td>
                

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Menge P3</mat-label>
                        <input matInput type="number" name="V_direkt_menge_p3" [(ngModel)]="V_direkt_menge_p3"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Preis pro Stück P3</mat-label>
                        <input matInput type="number" name="V_direkt_preis_p3" [(ngModel)]="V_direkt_preis_p3"/>
                </mat-form-field></td>

                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Konventionalstrafe P3</mat-label>
                        <input matInput type="number" name="V_direkt_strafe_p3" [(ngModel)]="V_direkt_strafe_p3"/>
                </mat-form-field></td>
                
                <br>
           
        <button mat-raised-button (click)="speichern()">Speichern & Weiter</button>
</form>
</mat-card>