.example-form-field {
    width: 200px;
  }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
    background-color:rgb(235, 235, 235);
  }

  .hintergrund{
    background-color:rgb(33, 126, 95);
    
  }

  .text{
    color:black
  }