
<br>
<mat-card class="hintergrund">
        <mat-card-title>Absatzplanung P{{next_period}}</mat-card-title>
        <mat-card-subtitle>Vertriebswunsch</mat-card-subtitle>

        <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P1</mat-label>
                        <input matInput type="number" name="Vabsatzplan_p1" [(ngModel)]="Vabsatzplan_p1"/>
                </mat-form-field>
          
                <br>
                <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P2</mat-label>
                <input matInput type="number" name="Vabsatzplan_p2" [(ngModel)]="Vabsatzplan_p2"/>
                </mat-form-field>
                <br>
                
                <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Produkt P3</mat-label>
                <input matInput type="number" name="Vabsatzplan_p3" [(ngModel)]="Vabsatzplan_p3"/>
                 </mat-form-field>
                </form>
                
                <br>
           
        <button mat-raised-button (click)="speichern()">Speichern</button>
        <button mat-raised-button>Basic</button>
</mat-card>