


<mat-horizontal-stepper (selectionChange)="onStepChange($event)">
    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Dateiimport' | translate}}</p>
        </ng-template>
     </mat-step>
    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Absatzplanung' | translate}}</p>
        </ng-template>
    </mat-step>
  
    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Programmplanung' | translate}}</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Kapazitätsplanung' | translate}}</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p >{{'Mengenplanung' | translate}}</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Losgrößenplanung' | translate}}</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>{{'Dateiexport' | translate}}</p>
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>



  