<!-- TODO: Header -->

<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>IBSYS II</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<mat-horizontal-stepper (selectionChange)="onStepChange($event)">
    <mat-step>
        <ng-template matStepLabel>
          <p>Dateiimport</p>
        </ng-template>
     </mat-step>
    <mat-step>
        <ng-template matStepLabel>
          <p>Absatzplanung</p>
        </ng-template>
    </mat-step>
  
    <mat-step>
        <ng-template matStepLabel>
          <p>Programmplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Kapazitätsplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p >Mengenplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Losgrößenplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Dateiexport</p>
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>
  
  