
<mat-horizontal-stepper (selectionChange)="onStepChange($event)">
    <mat-step>
        <ng-template matStepLabel>
          <p>Dateiimport</p>
        </ng-template>
     </mat-step>
    <mat-step>
        <ng-template matStepLabel>
          <p>Absatzplanung</p>
        </ng-template>
    </mat-step>
  
    <mat-step>
        <ng-template matStepLabel>
          <p>Programmplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Kapazitätsplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p >Mengenplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Losgrößenplanung</p>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
          <p>Dateiexport</p>
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>

  