.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 300px;
}
.mat-dialog-actions .mat-button-base + .mat-button-base,
.mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
  margin-left: 90px;
}
.mat-dialog-content {
  height: 140px;
}

.mat-icon.mat-warn {
  color: #f44336;
  margin-right: 3px;
}
