<h1 mat-dialog-title>{{ 'Splitmenge' | translate }}</h1>
<form [formGroup]="split">
  <div mat-dialog-content>
    <p>Bitte geben Sie die Splitmenge ein:</p>
    <mat-form-field appearance="fill">
      <mat-label>Splitmenge</mat-label>
      <input
        matInput
        type="number"
        min="0"
        step="10"
        [(ngModel)]="data.attr_splitquant"
        formControlName="splitquant"
      />
      <mat-hint align="end"
        ><mat-icon color="warn">info</mat-icon>Bitte achten Sie darauf, dass die Splitmenge
        kleiner ist als Produktionsmenge</mat-hint
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button
      mat-button
      [mat-dialog-close]="data.attr_splitquant"
      [disabled]="!split.valid"
    >
      Aufteilen
    </button>
  </div>
</form>
