<br>
<mat-card class="hintergrund">

  <div class="flex">
    <div>
      <mat-card-title>{{'Programmplanung' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'Endprodukte' | translate}}</mat-card-subtitle>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button class="info" (click)="openDialog()">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <br>

 
  <table #tableEnd mat-table [dataSource]="dataSourceEndMat" class="mat-elevation-z8" matSort>

    <!-- Artikelnummer -->
    <ng-container matColumnDef="artikelnummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Artikelnummer' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.artikelnummer}} </td>
    </ng-container>

    <!-- Aktueller Lagerbestand -->
    <ng-container matColumnDef="aktueller_lagerbestand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Aktueller Lagerbestand' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.aktueller_lagerbestand}} </td>
    </ng-container>

    <!-- In Bearbeitung -->
    <ng-container matColumnDef="in_bearbeitung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'In Bearbeitung' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.in_bearbeitung}} </td>
    </ng-container>

    <!-- In Warteschlange -->
    <ng-container matColumnDef="in_warteschlange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'In Warteschlange' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.in_warteschlange}} </td>
    </ng-container>

    <!-- Geplanter Endbestand -->
    <ng-container matColumnDef="geplanter_endbestand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Geplanter Endbestand' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="center">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>{{'Geben Sie die Menge ein:' | translate}}</mat-label>
          <input matInput type="number" min="0" [(ngModel)]=element.geplanter_endbestand
            (ngModelChange)="changeend($event, element.artikelnummer)">
          <button *ngIf="element.geplanter_endbestand" matSuffix mat-icon-button aria-label="Clear"
            (click)="element.geplanter_endbestand=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Vertriebswunsch  -->
    <ng-container matColumnDef="vertriebswunsch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Vertriebswunsch' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.vertriebswunsch}} </td>
    </ng-container>

    <!-- Direktverkauf  -->
    <ng-container matColumnDef="direktverkauf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Direktverkauf' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.direktverkauf}} </td>
    </ng-container>

    <!-- Produktionsauftraege  -->
    <ng-container matColumnDef="produktionsauftraege">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Produktionsaufträge' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.produktionsauftraege}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  
  <mat-card-subtitle>{{'Zwischenprodukte' | translate}}</mat-card-subtitle>
  <div class="mat-elevation-z8">
  <table #tablezwi mat-table [dataSource]="dataSourceZwiMat" class="mat-elevation-z8" multiTemplateDataRows matSort>

    <!-- Artikelnummer -->
    <ng-container matColumnDef="artikelnummer">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{'Artikelnummer' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.artikelnummer}} </td>
    </ng-container>

    <!-- Aktueller Lagerbestand -->
    <ng-container matColumnDef="aktueller_lagerbestand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Aktueller Lagerbestand' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.aktueller_lagerbestand}} </td>
    </ng-container>

    <!-- In Bearbeitung -->
    <ng-container matColumnDef="in_bearbeitung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'In Bearbeitung' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.in_bearbeitung}} </td>
    </ng-container>

    <!-- In Warteschlange -->
    <ng-container matColumnDef="in_warteschlange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'In Warteschlange' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.in_warteschlange}} </td>
    </ng-container>

    <!-- Geplanter Endbestand -->
    <ng-container matColumnDef="geplanter_endbestand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Geplanter Endbestand' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="center">
        <div class="center2">
        <mat-form-field class="example-form-field" appearance="fill" class="matForm">
          <mat-label>{{'Geben Sie die Menge ein:' | translate}}</mat-label>
          <input matInput type="number" min="0" [(ngModel)]=element.geplanter_endbestand
            (ngModelChange)="changezwi($event, element.artikelnummer)">
          <button *ngIf="element.geplanter_endbestand" matSuffix mat-icon-button aria-label="Clear"
            (click)="element.geplanter_endbestand=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      </td>
    </ng-container>

    <!-- Vertriebswunsch  -->
    <ng-container matColumnDef="vertriebswunsch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Vertriebswunsch' | translate}} </th>
      <td mat-cell *matCellDef="let element" [ngClass]="getClassExpand(element.artikelnummer)"> {{element.vertriebswunsch}} </td>
    </ng-container>

    <!-- Direktverkauf  -->
    <ng-container matColumnDef="direktverkauf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Direktverkauf' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.direktverkauf}} </td>
    </ng-container>

    <!-- Produktionsauftraege  -->
    <ng-container matColumnDef="produktionsauftraege">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Produktionsaufträge' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.produktionsauftraege}} </td>
    </ng-container>

    <!-- Produktionsauftraege  -->
    <ng-container matColumnDef="bedarfsmenge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Bedarfsmenge' | translate}} </th>
      <td mat-cell *matCellDef="let element" [ngClass]="getClassExpand(element.artikelnummer)"> {{element.bedarfsmenge}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button (click)="clickExpand(element.artikelnummer)">Erklärung anzeigen</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsZwi.length">
        <div class="row student-element-detail" [@detailExpand]="isExpanded(element.artikelnummer) ? 'expanded' : 'collapsed'">
        <mat-list>
          <!-- <div mat-subheader></div> -->
          <mat-list-item>
            <div mat-line class="matlinefont"> <span [innerHTML]="getProduktName(element.artikelnummer)"></span></div>
            <div mat-line class="matlinefont"> <span [innerHTML]="getVertriebswunsch(element.artikelnummer)"></span></div>
            <div mat-line class="matlinefont"> <span [innerHTML]="getBedarfsmenge(element.artikelnummer)"></span></div>
            <div mat-line> </div>
          </mat-list-item>
        </mat-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsZwi sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsZwi;" [ngClass]=getClass(row.artikelnummer)
      [class.student-expanded-row]="row.isExpanded"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>
  <br>

  <!-- Button -->
  <button mat-raised-button class="btn" color="berechnen" (click)="speichern()">
    <mat-icon>save</mat-icon>&nbsp;&nbsp;{{'Speichern & Weiter' | translate}}
  </button>
</mat-card>