.file-input {
  display: none;
}

.upload-btn.mat-primary {
  background-color: #e8505b;
  margin-left: 10px;
}

.btn {
  background-color: #e8505b;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: #c4464f;
}
