<h1 mat-dialog-title>{{ 'Neue Bestellung' | translate }}</h1>
<form [formGroup]="bestellung">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Artikel Nummer</mat-label>
      <mat-select [(ngModel)]="data.id"  formControlName="id">
        <mat-option *ngFor="let option of ids" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Menge</mat-label>
      <input
        matInput
        type="number"
        min="0"
        step="10"
        [(ngModel)]="data.anzahl"
        formControlName="menge"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Modus</mat-label>
      <mat-select [(ngModel)]="data.modus"  formControlName="modus">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" [disabled]='!bestellung.valid'>Anlegen</button>
  </div>
</form>
