<mat-card class="hintergrund">
  <div class='flex'>
    <div>
      <mat-card-title>{{'Bestellmengenplanung' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'Kaufteildisposition' | translate}}</mat-card-subtitle>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button class="info" (click)="openInfoDialog()">
          <mat-icon>info</mat-icon>
    </button>
    <button mat-raised-button class="info" (click)="openPrognoseDialog()">
          <mat-icon>note_add</mat-icon>
    </button>
      </div>
      <mat-table
        class="lessons-table mat-elevation-z8"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="artikelnr">
          <mat-header-cell *matHeaderCellDef>{{
            'Artikel Nummer' | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lieferfrist">
          <mat-header-cell *matHeaderCellDef>{{
            'Lieferfrist' | translate
          }}</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let element">{{
            element.lieferfrist
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="abweichung">
          <mat-header-cell *matHeaderCellDef>{{
            'Abweichung' | translate
          }}</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">{{
            element.abweichung
          }}</mat-cell>
        </ng-container>

        <!--      <ng-container matColumnDef="verwendung">-->
        <!--        <mat-header-cell *matHeaderCellDef>{{-->
        <!--          'Verwendung' | translate-->
        <!--        }}</mat-header-cell>-->
        <!--        <mat-cell class="duration-cell" *matCellDef="let element"-->
        <!--          >{{ element.verwendung.p1 }} {{ element.verwendung.p2 }}-->
        <!--          {{ element.verwendung.p3 }}</mat-cell-->
        <!--        >-->
        <!--      </ng-container>-->

        <ng-container matColumnDef="diskont">
          <mat-header-cell *matHeaderCellDef>{{
            'Diskont' | translate
          }}</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">{{
            element.diskont
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lagerbestand">
          <mat-header-cell *matHeaderCellDef>{{
            'Lagerbestand' | translate
          }}</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">{{
            element.lagerbestand
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eintreffendeBestellung">
          <mat-header-cell *matHeaderCellDef>
            {{'Wareneingang' | translate}}
          </mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">
            {{ element.eintreffendeBestellung }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="offeneBestellung">
          <mat-header-cell *matHeaderCellDef>{{
            'zukünftige Wareneingang' | translate
          }}</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">
            <table class="table">
              <thead>
                <tr>
                  <th>Anzahl</th>
                  <th>Periode</th>
                  <th>Modus</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of element?.offeneBestellung">
                  <td>{{ o.anzahl }}</td>
                  <td>{{ o.periode }}</td>
                  <td>{{ o.modus }}</td>
                </tr>
              </tbody>
            </table>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bruttobedarf">
          <mat-header-cell *matHeaderCellDef>{{
            'Bruttobedarf' | translate
            }} </mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">{{
            element.bruttobedarf
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bestellpunkt">
          <mat-header-cell *matHeaderCellDef>{{
            'Bestellpunkt' | translate
            }}</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let element">{{
            element.bestellpunkt
          }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" #pagonatoru
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    <br>

  <mat-card-subtitle>{{'Bestellungen' | translate}}</mat-card-subtitle>

  <mat-table
        class="lessons-table mat-elevation-z8"
        [dataSource]="dataSource2"
        #table
      >
        <ng-container matColumnDef="artikelnr">
          <mat-header-cell *matHeaderCellDef>
            {{'Artikel Nummer' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.id }}
            <mat-icon class="icon-warn" *ngIf='element.modus === "Eil"'>warning</mat-icon>
            <mat-icon class="icon-error" *ngIf='element.modus === "Sonderbestellung"'>error</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="menge">
          <mat-header-cell *matHeaderCellDef>{{
            'Menge' | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <input
                matInput
                type="number"
                step="10"
                min="0"
                [(ngModel)]="element.anzahl"
                (ngModelChange)="iw()"
              >
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modus">
          <mat-header-cell *matHeaderCellDef>{{
            'Modus' | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-select [(value)]="element.modus">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loeschen">
          <mat-header-cell *matHeaderCellDef>{{
            'Löschen' | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="loeschen(element)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
      </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" #paginatori
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

      <button mat-raised-button class="btn" (click)="openDialog()">
        {{ 'Neu anlegen' | translate }}
      </button>
      <button mat-raised-button class="btn" (click)="speichern()">
        <mat-icon>save</mat-icon> {{ 'Speichern & Weiter' | translate }}
      </button>

</mat-card>
