<h2 mat-dialog-title>losgrößenplanung</h2>
<mat-dialog-content class="mat-typography">
  <h3><u>Hinweis:</u></h3>
  <h4>
    Sie optimieren Ihre Produktionsreihenfolge, indem Sie per Drag und Drop die
    Zeilen nach oben bzw. unten verschieben. Die ausgesplitete Menge der
    Produktion werden durch Anklicken des „Aufteilen“ - Buttons eingegeben.
  </h4>
  <div></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="close" mat-button mat-dialog-close>
    <mat-icon> close</mat-icon>Schließen
  </button>
</mat-dialog-actions>
