<div className="App">
    <!-- <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <header class="header">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="assets/img/logo/logo.png" alt="Logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#leistungen">{{'Leistungen' | translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#überuns">{{'Über uns' | translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#support">Support</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#bewertungen">{{'Bewertungen' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="icon-button1" (click)="useLanguage('de')">
                                <img class="icon" src="../assets/svg/icons/germany.png" />
                            </button>
                            <button class="icon-button2" (click)="useLanguage('en')">
                                <img class="icon" src="../assets/svg/icons/united-states.png" />
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="home" class="hero-section">
        <div class="hero-shape">
            <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="hero-content">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s">Rocket <span>Bikes</span>
                        </h1>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            {{'Klicken Sie den folgenden Button und starten Sie jetzt direkt die optimierte Produktionsplanung spezifisch für Ihren eigenen Fahrrad-Betrieb.' | translate}}
                        </p>

                        <a href="route" (click)=onClick($event) class="main-btn btn-hover wow fadeInUp"
                            data-wow-delay=".6s">{{'Jetzt Starten' | translate}}</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/hero/hero-img.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="leistungen" class="service-section pt-150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-70">
                        <span class="wow fadeInUp" data-wow-delay=".2s">{{'Unser Service' | translate}}</span>
                        <h1 class="wow fadeInUp" data-wow-delay=".4s">{{'Das ermöglicht unser Tool' | translate}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-1.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Dateiimport' | translate}}</h3>
                            <p>{{'Laden Sie die XML-Datei der vergangenen Periode in das Tool, um die Analyse und Planung starten zu können.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-2.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Absatzplanung' | translate}}</h3>
                            <p>{{'Die Aufgabe der Absatzplanung ist es, festzulegen, wie viele Endprodukte in der kommenden Periode vertrieben werden sollen.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-3.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Programmplanung' | translate}}</h3>
                            <p>{{'Im Rahmen der Programmplanung wird auf Basis des Vertriebswunsches und der Lagerbestände die Menge der zu produzierenden Teile festgelegt.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-4.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Kapazitätsplanung' | translate}}</h3>
                            <p>{{'In diesem Schritt wird der sogenannte Kapazitätsplan auf Basis des Vertriebswunsches im Zusammenhang mit den Rüstzeiten, Rüstschritte, Überstunden, Zusatzschichten, etc. aufgestellt.' | translate}}

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-5.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Mengenplanung' | translate}}</h3>
                            <p>{{'Innerhalb der Mengenplanung gilt es, das Thema Bestellungen zu behandeln und zu klären welche Teile mit welcher Versandart bestellt werden müssen.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="icon">
                            <img src="assets/img/service/service-icon-6.png" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{'Dateiexport' | translate}}</h3>
                            <p>{{'Nachdem die Berechnungen abgeschlossen sind, können Sie auf Basis Ihrer eingegebenen Daten das optimierte Gesamtergebnis in Form einer XML-Datei herunterladen.' | translate}}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="überuns" class="about-section pt-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/about/about-img.svg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <span class="wow fadeInUp" data-wow-delay=".2s">{{'Über uns' | translate}}</span>
                            <h1 class="wow fadeInUp" data-wow-delay=".4s">{{'Dieses Team steht Ihnen zur Seite' | translate}}
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".6s">
                                {{'Unser Team aus Experten verschiedenster Technologien und Fachbereiche steht Ihnen Rund um die Uhr zur Verfügung. Wir freuen uns über Feedback zu existierenden Funktionen unseres Produktes und wollen dieses gemeinsam mit Ihnen stetig verbessern.' | translate}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="support" class="delivery-section pt-150">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="delivery-content">
                        <div class="section-title">
                            <span class="wow fadeInUp" data-wow-delay=".2s">Support</span>
                            <h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">{{'Unterstützung bei all Ihren Fragen' |
                                translate}}</h1>
                            <p class="mb-35 wow fadeInUp" data-wow-delay=".6s">
                                {{'Damit Sie als Endbenutzer Ihr auf Sie zugeschnittenes Produkt sinngemäß verwenden können, müssen Sie nicht zögern wenn es irgendwelche Fragen oder Problemstellungen gibt und können uns jeder Zeit kontaktieren.' | translate}}</p>
                            <a href="javscript:void(0)" class="main-btn btn-hover wow fadeInUp"
                                data-wow-delay=".8s">{{'Kontaktieren' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 order-first order-lg-last">
                    <div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/delivery/delivery-img.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bewertungen" class="about-section received-section pt-150">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/received/received-img.svg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content received-content">
                        <div class="section-title">
                            <span class="wow fadeInUp" data-wow-delay=".2s">{{'Zufriedene Kunden' | translate}}</span>
                            <h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">{{'Über eine Bewertung würden wir uns freuen' | translate}}</h1>
                            <p class="wow fadeInUp" data-wow-delay=".6s">{{'Unsere Mission ist es, glückliche Kunden zu vertreten. Deshalb ist es uns wichtig, kontinuierlich Kritik und Verbesserungsvorschläge durch unsere Endbenutzer einzuholen. Aus diesem Grund würden wir uns über eine Bewertung freuen!' | translate}}
                            </p>
                        </div>
                        <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
                            <h5>{{'Bewertungen 4.8' | translate}}</h5>
                            <div class="rating">
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                            </div>
                        </div>
                        <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
                            <div class="single-counter">
                                <h3 id="secondo1" class="countup">1.340</h3>
                                <h5>{{'Zufriedene Kunden' | translate}}</h5>
                            </div>
                            <div class="single-counter position-relative">
                                <h3 id="secondo2" class="countup">356</h3>
                                <h5>{{'Unternehmen' | translate}}</h5>
                            </div>
                            <div class="single-counter">
                                <h3 id="secondo3" class="countup">248 </h3>
                                <h5>{{'Bewertungen' | translate}}</h5>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <footer id="footer" class="footer pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo/logo-2.png" alt="logo" /></a>
                        </div>
                        <div class="download-btns">
                            <a href="javascript:void(0)">
                                <span class="icon"><i class="lni lni-apple"></i></span>
                                <span class="text">{{'Erscheint bald im ' | translate}}<b>App Store</b> </span>
                            </a>
                            <a href="javascript:void(0)">
                                <span class="icon"><i class="lni lni-play-store"></i></span>
                                <span class="text">{{'Erscheint bald im ' | translate}}<b>Play Store</b> </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                        <h3>Navigation</h3>
                        <ul class="links">
                            <li>
                                <a class="page-scroll" href="#home">Home</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#leistungen">{{'Leistungen' | translate}}</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#überuns">{{'Über uns' | translate}}</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#support">Support</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#bewertungen">{{'Bewertungen' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".6s">
                        <h3>{{'Rechtliches' | translate}}</h3>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0)">{{'Partner' | translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{'Datenschutz' | translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{'Impressum' | translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{'Kontakt' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
                        <h3>Support</h3>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0)">{{'Technischer Support' | translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Community</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{'Rückerstattungsgarantie' | translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{'Bewertung abgeben' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>