<h1 mat-dialog-title>{{ 'Neue Bestellung' | translate }}</h1>
<form>
  <div mat-dialog-content>
    <thead>
      <tr>
        <th>Periode {{data.periode0.p_number}}</th>
        <th>Periode {{data.periode1.p_number}}</th>
        <th>Periode {{data.periode2.p_number}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P1' | translate }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              step="10"
              name="Vabsatzplan_p1"
              [(ngModel)]="data.periode0.p1"
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> {{ 'Produkt P1' | translate }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              step="10"
              name="V_direkt_menge_p1"
              [(ngModel)]="data.periode1.p1"
            >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P1' | translate }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              step="10"
              name="V_direkt_preis_p1"
              [(ngModel)]="data.periode2.p1"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P2' | translate }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              step="10"
              name="Vabsatzplan_p1"
              [(ngModel)]="data.periode0.p2"
            >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> {{ 'Produkt P2' | translate }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              step="10"
              name="V_direkt_menge_p1"
              [(ngModel)]="data.periode1.p2"
            >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P2' | translate }}</mat-label>
            <input matInput type="number"
                   min="0"
                   step="10"
                   name="V_direkt_preis_p1"
                   [(ngModel)]="data.periode2.p2"
            >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P3' | translate }}</mat-label>
            <input matInput type="number"
                   min="0"
                   step="10"
                   name="Vabsatzplan_p1"
                   [(ngModel)]="data.periode0.p3"
            >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> {{ 'Produkt P3' | translate }}</mat-label>
            <input matInput type="number"
                   min="0"
                   step="10"
                   name="V_direkt_menge_p1"
                   [(ngModel)]="data.periode1.p3"
            >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'Produkt P3' | translate }}</mat-label>
            <input matInput type="number"
                   min="0"
                   step="10"
                   name="V_direkt_preis_p1"
                   [(ngModel)]="data.periode2.p3"
            >
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" >
      Anlegen
    </button>
  </div>
</form>
